SECRET_KEY = "CHANGE-ME"

# 0 False, 1 True
DEBUG='1'

# Comma Separated values
ALLOWED_HOSTS='127.0.0.1, localhost, 0.0.0.0'

ENGINE='djongo'
MONGO_DB='challange'
MONGO_USER='CHANGE-ME'
MONGO_PASSWORD='CHANGE-ME'
MONGO_HOST='mongodb://mongodb:27017'


EMAIL_ADMIN = 'email@example.com'

EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'username@example.com'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_USE_TLS = "1"

CELERY_BROKER_URL = 'amqp://host.docker.internal'
CELERY_RESULT_BACKEND = 'redis://localhost:6379/1'
LOCATION = 'redis://localhost:6379/1''
